# Fichiers de compilation LaTeX
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.lof
*.lot
*.bbl
*.blg
*.brf

# Fichiers PDF générés
*.pdf

# Dossiers de build (ex: si vous utilisez 'build/')
_build/
build/

# Fichiers de l'éditeur Overleaf
*.nav
*.snm
